.exploreMenu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.exploreMenu h1{
    font-weight: 500;
    color:#262626 ;
}
.exp-text{
    max-width: 60%;
    color: #808080;
}
.exp-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;
}
.exp-menu-list::-webkit-scrollbar{
    display: none;
}
.exp-menu-list-item img{
    width: 8vw;
    min-width: 80px;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 50%;
}
.exp-menu-list-item p{
    margin-top:10px;
    color: #747474;
    font-size: max(1.4vw,16px);
    cursor: pointer;
}
.exploreMenu hr{
    margin: 10px 0px;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
}
.exp-menu-list .active{
    border: 4px solid tomato;
    
}
@media (max-width: 1050px){
    .exp-text{
        max-width: 100%;
        font-size: 14px;
    }
}